
<link rel="stylesheet" href="book.component.css">
<div>
    <div class="thumbnail">
        <img src="{{book.thumbnail}}"/>
    </div>
    <div class="title">
        Title: {{book.title}}
    </div>
    <div class="description">
        Description: {{book.description}}
    </div>
    <div class="author">
        Author: {{book.author}}
    </div>
    <div class="type">
        Type: {{book.type}}
    </div>
    <button *ngIf="!isFavorite" (click)="favorite()" class="favorite">Favorite</button>
</div>

